/* ================================= 
 Global rules and element rules
==================================== */








/* ================================= 
 Structural content style
==================================== */

/* ---------- The Header ---------- */



/* ---------- Main content ---------- */



/* ------- Additional content ------- */






/* --------- The Page Footer --------- */














