/* ================================= 
 Global rules and element rules
==================================== */

/* ================================= 
 Structural content style
==================================== */

/* ---------- The Header ---------- */

/* ---------- Main content ---------- */

/* ------- Additional content ------- */

/* --------- The Page Footer --------- */
.bg-footer {
  color: #1b1e21 !important;
  background-color: #d6d8d9 !important;
  border-color: #c6c8ca !important;
}
